{{#> "heart:items/base/sheet.hbs" type="resource"}}
<div class="equipment resistances red">
    {{#with (getHeartDomains) as |domain|}}
        {{#each domain}}
            <div style="width: 25%">
                <h3>{{localizeHeart "domain" this}}</h3>
                <div data-target='system.domain' data-value="{{this}}">
                    {{{ordered-checkable (includes ../../system.domain this) 1}}}
                </div>
            </div>
        {{/each}}
    {{/with}}
</div>
<div>
    <h2>
        <span class="fas fa-tag"></span>
        {{localizeHeart "tag.multiple"}}
        {{#if user.isGM }}
        <a class="right" data-action="add-child" data-type="tag"><span class="fas fa-plus"></span> {{localizeHeart "add"}}</a>
        {{/if}}
    </h2>
    <div class="item-list">
        {{#each item.childrenTypes.tag as |tag|}}
            {{> "heart:items/tag/preview.hbs" item=tag showActivate=false showDelete=../item.isOwner}}
        {{/each}}
    </div>
</div>
{{/ "heart:items/base/sheet.hbs"}}